[ENVIRONMENT]
TARGET=development

[CONFIG]
BATCH_SIZE=10000

[MONGO]
URI=
HOST=
USERNAME=
PASSWORD=
DATABASE=
DATABASE_CORE=
COL_SERIAL=prepaidSerialNo
COL_TRANSACTION=transaction
COL_TRX_MASTER=transaction_master
COL_PROGRAM_TEMPLIST=programtemplists
COL_SYSTEM_CONFIG=systemconfigs
COL_IH_WELCOME_POIN_TASK=ih_welcome_poin_tasks
EXTRA=authSource=admin&tls=true&tlsAllowInvalidCertificates=true&connectTimeoutMS=10000

[RESULT]
DIR=./report


[REVOKE]
TOKEN=
KEYWORD=
CHANNEL=
DELAY=1

[WELCOME_POIN_INDIHOME]
PATH=./landing/
FILE_PATTERN=
LOGGING=./logs/
TOKEN=
CHANNEL=
DELAY=1
IS_USING_HEADER=1
REDEEM_URL_PATH=
POIN_NOTIF_TEMPLATE=
FILE_CHECKSUM_EXTENSION=ctl
FILE_LOAD_EXTENSION=txt

[NOTIFICATION]
SMS_HOST=
SMS_PORT=
SMS_PATH=
SMS_CA=
SMS_USER=
SMS_PASS=
SMS_FROM=


[NONCORE]
URL=
PORT=
USERNAME=
PASSWORD=
CLIENT_ID=
CLIENT_SECRET=

[FILES]
WHITELIST=msisdn_wl_original.txt
